@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) mandatory;
  }

  .snap-y {
    --scroll-snap-direction: y;
  }

  .snap-start {
    scroll-snap-align: start;
  }
}

.active-nav {
  @apply animate-pulse transition ease-in-out duration-500 active;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-avaiable;;
}

.main-section {
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow: auto;
}

section {
  overflow-y: hidden;
  scroll-snap-align: start;
}

.section-scroll {
  overflow-y: auto;
  scroll-snap-align: none;
}

.section-main {
  overflow-x: hidden;
}

.homePanelm img {
  height: auto;
  width: 100vw;
}

.homePanelmText {
  width: 30vw;
  left: 15vw;
  top: 35vw;
}

.shopPanel_m .shopOption {
    background-color: #122b51;
    color: white;
    height: 58px;
    border-radius: 50px;
    border-width: thin;
    margin: 0 auto 0 5vw;
    width: 50vw;
    min-width: 300px;
    text-align: center;
    text-align-last: center;
    font-size: x-large;
}

.shopPanel_m .shopBtn {
  background-color: #122b51;
  color: white;
  height: 40px;
  border-radius: 50px;
  border-width: thin;
  margin: 0 auto 10vh 5vw;
  width: 50vw;
  min-width: 300px;
  text-align: center;
  text-align-last: center;
  font-size: x-large;
}

.shopPanel_m {
  margin-top: 3vw;
  align-self: flex-start;
}

.shopPanel_m img {
  margin: 2vw 0vw 2vw 5vw;
  max-width: fit-content;
  height: fit-content;
  width: 80vw;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 100vh;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper_m {
  position: relative;
  padding-bottom: 56.25%;
  width: 100vw;
}
.videoWrapper_m iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circleImg {
  width: 10vw;
}

.floating-panel {
  margin-left: 10vw;
  margin-bottom: calc(10vh + 123px);
}

.p1title1 {
  padding-top: calc(2vh + 200px);
}

.homeBar {
  height: 100%;
}

.p1panelShow {
  width: 49vw;
  height: calc(100vh - 123px);
}

@media (max-width: 768px) {
  .p1panelShow {
    height: calc(100vh - 240px);
  }
}

.panelLeft {
  width: 49vw;
  height: 100vh;
}

.shopPanelLeft {
  width: 49vw;
  margin-left: 12vw;
}

.panelLeft-text {
  transform-origin: center;
  transform: translate(135px, 15vh);
}

.panelRight {
  width: 49vw;
}

.preloader-panel {
  opacity: 1;
  transition: "all 0.25s ease-in-out";
}

.preloader-logo {
  height: 250px;
}

.p6-textPanel {
  transform-origin: center;
}

.p6-coffeeRightPanel {
  /* height: 40vh; */
  margin-top: 5vh;
}

.p6-coffeeRightPanel {
  /* height: 40vh; */
  margin-top: 5vh;
}

.backgroundVideo {
  position: absolute;
  width: "100%";
  left: "50%";
  top: "50%";
  height: "100%";
  object-fit: cover;
  transform: translate("-50%", "-50%");
  z-index: 1;
}

.p6panelImg {
  /* transform: translate(calc(-50vw + 50% + 10vw), -10vh); */
  position: absolute;
  left: 10vw;
}

#cL1 {
  transform-origin: center;
  transform: translate(2vw, 6vh);
}

#cL2 {
  transform-origin: center;
  transform: translate(1vw, 4vh);
}

#cL3 {
  transform-origin: center;
  transform: translate(1vw, 2vh);
}

#cL4 {
  transform-origin: center;
  transform: translate(1vw, 4vh);
}

#cL5 {
  transform-origin: center;
  transform: translate(1vw, 6vh);
}

#cL6 {
  transform-origin: center;
  transform: translate(3vw, 2vh);
}

#cR1 {
  transform-origin: center;
  transform: translate(-2vw, 2vh);
}

#cR2 {
  transform-origin: center;
  transform: translate(-1vw, 4vh);
}

#cR3 {
  transform-origin: center;
  transform: translate(-1vw, 2vh);
}

#cR4 {
  transform-origin: center;
  transform: translate(-2vw, 4vh);
}

#cR5 {
  transform-origin: center;
  transform: translate(-2vw, 5vh);
}

#cR6 {
  transform-origin: center;
  transform: translate(-1vw, 2vh);
}


.p6h {
  height: 40vh;
}

.p8panel {
  transform: translate(0vw, -29.5vh);
  height: 180px;
  left: 0;
}

.shopPanel-section, .specPanel-section {
  background-color: #123566;
}

.shopPanelImg {
  width: 60vw;
  margin: auto 0;
}

@media (max-width: 768px) {
  .shopPanelImg {
    width: 90vw;
    margin: 5vh 5vh;
    position: absolute;
    top: calc(20vh + 170px);
  }
  .shopPanel-section {
    height: 350vh;
  }
}

.shopPanelImg img {
  height: auto;
  width: 100%;
}

.titlePanel {
  width: 100vw;
}

.titlePanel > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.shopPanelOptions {
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  border-width: thin;
  height: 200px;
  margin-top: 250px;
  z-index: 50;
  background-color: #123566;
}

.shopPanelBorder {
  border-color: #ff9800;
}

.shopPanelOptionIcon {
  height: 20px;
}

.shopBtn {
  border-radius: 70px;
  border-style: solid;
  border-color: white;
  border-width: thin;
  width: 250px;
  margin-top: 2rem;
}

.specTempHeight {
  height: auto; 
}

.hiddenImg {
  opacity: 0;
}

.textPanel {
  height: calc(100vh - 123px);
  padding-bottom: 300px;
  transform-origin: center;
  transform: translateX(12.5vw);
}

@media (max-width: 1280px) {
  .textPanel {
    padding-top: 300px;
  }
}

#navbar {
  left: 98vw;
  transition: all 500ms;
  transition-timing-function: ease-in;
}

#navbar a span {
  opacity: 0;
}

#navbar a.active span {
  color: #ff9800;
  font-weight: bold;
  opacity: 1;
}

#navbar a:hover span {
  color: whitesmoke;
  transition: all 500ms ease-in-out;
  opacity: 1;
}

#navbar a.active:hover span {
  color: #ff9800;
}

.navbarW {
  word-break: keep-all;
}

.videoBlock {
  max-width: 1800px;
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.mbg {
  background-color: #122b51;
}



@media (max-width: 768px) {
  .mbgRight {
    background-position: right;
  }
  #logo_panel {
    width: 45vw;
  }
  .videoWrapper {
    height: auto;
  }
}

.carouselbar {
  height: 10px;
  width: 15vw;
  bottom: 5vh;
  z-index: 50;
}

.carousel {
  width: 7.5vw;
  height: 7.5px;
  margin: 0.5vw;
  background-color: whitesmoke;
  border-radius: 5px;
  transition: all 500ms;
  transition-timing-function: ease-in;
}

.carouselActive {
  background-color: orange;
}

.floatingCircle {
  z-index: 100;
  right: 10vw;
  top: 85vh;
  transition-timing-function: ease-in;
  transition: all 500ms;
}

.floatingCircle:hover {
  animation-name: enlargeAni;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes enlargeAni {
	0% {
		transform: scale(1);
	}
  30% {
    transform: scale(1.1)
  }
  50% {
		transform: scale(0.9);
	}
  100% {
		transform: scale(1);
	}
}

#floatingPopup {
  z-index: 100;
  background: #000000de;
  width: 25vw;
  height: 25vh;
  border-radius: 20px;
  padding: 20px;
  transform: translate(calc(50vw - 12.5vw), calc(50vh - 12.5vh));
  box-shadow: 5px 5px 5px 1px #a9a9a938;
  color: whitesmoke;
  transition-timing-function: ease-in;
  transition: all 500ms;
}

.popupCloseBtn {
  position: relative;
  top: 15vh;
  left: 19vw;
  background: orange;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 15px;
  cursor: default;
}

.mbgGradient {
  background: linear-gradient(to right, #691625 0%,#7f192c 31%,#c75e29 68%,#ee8402 100%);
}

.p3mSection {
  height: 50vh;
  margin-top: 50vh;
  z-index: 10;
}

.p3mSection img {
  height: 15vh;
  width: auto;
  padding: 10px;
}

.b {
  height: 70vh;
  margin-top: 50vh;
  z-index: 0;
}

.b1 {
  height: 70vh;
  margin-top: 65vh;
  z-index: 0;
}


.p5mSection {
  z-index: 10;
}

.p51 {
  height: 65vh;
}
.p51 img {
  max-height: 65vh;
  padding: 5vh 5vh 0vh 5vh;
}
.p51 img:nth-child(2) {
  padding: 2vh 5vh 0vh 5vh;
}

.p53 {
  height: 35vh;
}
.p53 img {
  height: 35vh;
  padding: 0vh 5vh 5vh 0vh;
}

@media (max-width: 768px) {
  .product3-section {
    /* background-position-y: -250px; */
  }
}

.fadeIn1sec {
  animation: fadeIn ease-in-out 1s;
}

.fadeIn2sec {
  animation: fadeIn ease-in-out 2s;
}

.fadeIn3sec {
  animation: fadeIn ease-in-out 3s ;
}

.fadeIn4sec {
  animation: fadeIn ease-in-out 4s;
}

.fadeIn5sec {
  animation: fadeIn ease-in-out 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.p6mSection {
  position: absolute;
  top: 50vh;
  padding: 5vh;
  background-color: #122b51;
}

.p61 {
}

.p61 img {
  height: auto;
  width: auto;
}

.b2 {
  height: 45vh;
  margin-top: 75vh;
}

.b3 {
  height: 55vh;
  margin-top: 45vh;
}

.p7mSection {
  z-index: 10;
  top: 50vh;
  position: absolute;
  height: 50vh;
}

.p7mSection img {
  width: auto;
  padding: 10px;
  height: 15vh;
  margin-top: 10vh;
}

.p9mSection {
  height: 40vh;
  margin-top: 60vh;
  z-index: 10;
  background-color: #122b51;
}

.p91 {
  height: 40vh;
  padding: 0vh 5vh;
}

.p912 {
  height: 35vh;
  padding: 5vh;
}

.p91 > img {
  height: 35vh;
  padding: 5vh;
}

.p912 > img {
  height: 100%;
  padding: 5vh;
}

.p12mSection {
  height: 55vh;
  margin-top: 45vh;
  z-index: 10;
}

.p12 {
  height: 55vh;
}

.p121 {
  padding: 5vh;
}

.p12 img {
  height: 100%;
  padding: 5vh;
}

.mbgRight {
  background-position: right;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.delay1s {
  transition-delay: 1s;
}
.delay2s {
  transition-delay: 2s;
}
.delay5s {
  transition-delay: 5s;
}

